In [38]:
import pandas as pd 
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk.text import Text
import string, re 
from sklearn.feature_extraction.text import CountVectorizer

In [39]:
sentiment_df=pd.read_excel('Resources/NRC-Emotion-Lexicon-v0.92-In105Languages-Nov2017Translations.xlsx')

,Unnamed: 0,Content,Date,User,Enojo
0,0,Que no era un estado laico y así?,25 ago.,@Brigitte_Grey,NaN
1,1,Tu no eres bueno,25 ago.,@juancarlosgt,NaN

In [52]:
tweets_df=pd.read_csv('Resources/Tweets.csv')
tweets_df.head(2)

                             Content     Date            User
0  Que no era un estado laico y así?  25 ago.  @Brigitte_Grey
1                   Tu no eres bueno  25 ago.   @juancarlosgt

In [53]:
sentiment_df=sentiment_df[['Spanish (es)','Positive','Negative','Anger','Disgust','Fear','Joy','Sadness','Surprise','Trust']]
sentiment_df.head(2)

,Spanish (es),Positive,Negative,Anger,Disgust,Fear,Joy,Sadness,Surprise,Trust
0,detrás,0,0,0,0,0,0,0,0,0
1,ábaco,0,0,0,0,0,0,0,0,1

In [54]:
Anger=sentiment_df[['Spanish (es)','Anger']].loc[sentiment_df['Anger']==1]
Disgust=sentiment_df[['Spanish (es)','Disgust']].loc[sentiment_df['Disgust']==1]
Fear=sentiment_df[['Spanish (es)','Fear']].loc[sentiment_df['Fear']==1]
Joy=sentiment_df[['Spanish (es)','Joy']].loc[sentiment_df['Joy']==1]
Sadness=sentiment_df[['Spanish (es)','Sadness']].loc[sentiment_df['Sadness']==1]
Trust=sentiment_df[['Spanish (es)','Trust']].loc[sentiment_df['Trust']==1]

tweets_df['Enojo']=''
tweets_df['Tristeza']=''
tweets_df['Miedo']=''
tweets_df['Disgusto']=''
tweets_df['Felicidad']=''
tweets_df['Confianza']=''
tweets_df['Sentimientos positivos']=''
tweets_df['Sentimentos negativos']=''
tweets_df['Palabras totales']=''

In [55]:
nltk.download('stopwords')
stop_words=stopwords.words('spanish')

vectorizer=CountVectorizer(stop_words=stop_words)

for index,row in tweets_df.iterrows():
    
    tweet=[tweets_df['Content'][index]]
    
    vectorizer.fit_transform(tweet)
    vector=vectorizer.transform(tweet)
    
    enojo=vectorizer.transform(Anger['Spanish (es)']).toarray()
    enojo=enojo.sum()
    
    disgusto=vectorizer.transform(Disgust['Spanish (es)']).toarray()
    disgusto=disgusto.sum()
    
    miedo=vectorizer.transform(Fear['Spanish (es)']).toarray()
    miedo=miedo.sum()
    
    felicidad=vectorizer.transform(Joy['Spanish (es)']).toarray()
    felicidad=felicidad.sum()
    
    trizteza=vectorizer.transform(Sadness['Spanish (es)']).toarray()
    trizteza=trizteza.sum()
    
    confianza=vectorizer.transform(Trust['Spanish (es)']).toarray()
    confianza=confianza.sum()
    
    tweets_df.at[index,'Enojo']=enojo
    tweets_df.at[index,'Disgusto']=disgusto
    tweets_df.at[index,'Miedo']=miedo
    tweets_df.at[index,'Felicidad']=felicidad
    tweets_df.at[index,'Tristeza']=trizteza
    tweets_df.at[index,'Confianza']=confianza
    tweets_df.at[index,'Sentimientos positivos']=confianza+felicidad
    tweets_df.at[index,'Sentimentos negativos']=enojo+disgusto+miedo+trizteza
    tweets_df.at[index,'Palabras totales']=vector.sum()

[nltk_data] Error loading stopwords: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     self signed certificate in certificate chain
[nltk_data]     (_ssl.c:1076)>

In [56]:
tweets_df.head()

,Content,Date,User,Enojo,Tristeza,Miedo,Disgusto,Felicidad,Confianza,Sentimientos positivos,Sentimentos negativos,Palabras totales
0,Que no era un estado laico y así?,25 ago.,@Brigitte_Grey,0,0,0,0,0,0,0,0,2
1,Tu no eres bueno,25 ago.,@juancarlosgt,0,0,0,0,1,1,2,0,1
2,"Eres nuestro rey, emperador, nuestro sensei, ...",26 ago.,@KAndrids,3,3,7,5,4,4,8,18,23
3,"Exacto.dios lo bendiga.ud.ya es historia,dios ...",25 ago.,@jceciliatorres,0,1,2,0,1,1,2,3,13
4,¿Estás de acuerdo con la transformación?,26 ago.,@vampipe,0,0,0,0,1,3,4,0,2

In [58]:
tweets_df.to_excel('tweets1.xlsx',encoding='Latin-1',index=False)

In [37]:
vector.toarray()

array([[1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]], dtype=int64)

In [33]:
enojo/vector.toarray().sum()

0.1111111111111111

2